.container-common {
    @apply mx-auto overflow-hidden;
}

.container-outer {
    @apply container-common max-w-1500px;
}

.container-inner {
    @apply container-common max-w-1340px;
}

.title {
    @apply font-bold leading-tight tracking-tight;
}

.title-main {
    @apply title font-primary text-10xl text-white;
}

.bg-image {
    @apply overflow-hidden w-full h-full bg-center bg-no-repeat;
}

.tag {
    @apply border border-white uppercase text-white opacity-95 leading-none p-2;

    &:not(:last-of-type) {
        margin-right: 0.25rem;
    }
}

.inline-link {
    @apply text-link;

    &:hover {
        @apply underline;
    }
}

.nav-container {
    --nav-background-color-1: theme(colors.blue.400);
    --nav-background-color-2: theme(colors.blue.600);
    background: radial-gradient(
        circle at bottom right,
        var(--nav-background-color-1),
        var(--nav-background-color-2)
    );
}

.nav-list-item::after {
    content: '';
    width: 0%;
    height: 3px;
    background: theme(colors.white);
}

.nav-list-item:hover::after {
    transition: all 250ms ease-out;
    content: '';
    width: 100%;
    height: 3px;
    background: theme(colors.white);
}

.field {
    @apply bg-white w-full rounded-lg overflow-hidden border-solid border border-grey-cool-400;
}

.field:active {
    @apply transition-ease bg-grey-cool-300;
}
